:root {
    --blur: 0px;
    --contrast: 100%;
    --hue: 0deg;
    --brightness: 100%;
    --invert: 0%;
    --saturation: 100%;
}

body {
    margin: 5em 10vw 5em 10vw;
    font-family: sans-serif;
    background: #5EDBA3;
    color: white;
}

h1 {
    font-size: 30pt;
    margin-bottom: 0;
}

#header {
    text-align: center;
    margin-bottom: 5em;
}

img {
    width: 40vw;
    float:left;
    filter: blur(var(--blur)) brightness(var(--brightness)) contrast(var(--contrast)) hue-rotate(var(--hue)) invert(var(--invert)) saturate(var(--saturation));
}

#controls {
    width: 20vw;
    margin-right: 10vw;
    float:right;
    display: flex;
    flex-direction: column;
}